body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}


#display {
    width: 441.5px;
    height: 75px;
    font-size: 50px;
    text-align: end;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.calculatorKeys{
    display: flex;
    width: 450px;
    height: 585px;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    background-color: orange;
    border-radius: 25px;
};

.buttons-box{
    display: flex;
}

.buttons{
    width: 109.5px;
    height: 100px;
    padding: 0;
    margin: 0;
    font-size: 25px; 
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
};

.buttons:hover{
        background-color:#002ead;
        transition: 0.7s;
}

